.form-label, .form-control {
    color: #393d73;
    border-color: #393d73;
}
.form-control:focus {
    border-color: #393d73;
    box-shadow: 0 0 5px rgba(57, 61, 115, 0.5);
}

input:focus,
textarea:focus,
select:focus {
    border-color: #43c3ea;
    outline: none;
}

#contact-form input[type="text"].error{
    border-color: red;    
}
#contact-form input[type="email"].error{
  border-color: red;    
}
#contact-form select.error {
  border-color: red;
}
#contact-form textarea.error{
  border-color: red;    
}

.contact-form-style1-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 170px 0 120px;
    z-index: 1;
}
.contact-form-style1-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1;
}


.contact-form {
    position: relative;
    display: block;
    width: 100%;
}
.contact-form form{
    position: relative;
    display: block;
}
.contact-form form .input-box{
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form input[type="password"]{
    position: relative;
    display: block;   
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 100%;
    height: 60px;
    color: #393d73;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    transition: all 500ms ease;
    font-family: 'Open Sans', sans-serif;
}
.contact-form form input[type="text"]:focus{
    color: #222222;
    border-color: #101f42; 
}
.contact-form form input[type="email"]:focus{
    color: #222222;
    border-color: #101f42;
}
.contact-form form input[type="datetime-local"]:focus{
    color: #222222;
    border-color: #101f42;
}
.contact-form form input[type="password"]:focus{
    color: #222222;
    border-color: #101f42;
}

.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #393d73;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #393d73;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #393d73;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #393d73;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #393d73;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #393d73;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #393d73;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #393d73;
}


.contact-form form .button-box {
    position: relative;
    display: block;
    padding-top: 10px;
}
.contact-form form .button-box button{
    line-height: 60px;
}
.contact-form form .button-box button i {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 60px;
    padding-right: 10px;
}

.card{
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f1f1f1;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1050;
}

.btm-btns a{
    color: #6377ee;
}


.shape1{
    position: absolute;
    top: 0;
    left: 0;
}

.shape2{
    position: absolute;
    top: 150px;
    right: 250px;
}

@media (max-width: 1200px) {
    .shape2 {
        display: none; 
    }

    .shape1 {
        display: none;
    }
}